@import "https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap";

/*----------------------------------SETTING------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer__container {
    flex: 1;
}

::-webkit-scrollbar {
    display: none;
}

.mt-120 {
    margin-top: 120px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*----------------------------------SETTING------------------------------------*/


/*----------------------------------TITLE------------------------------------*/
h2 {

    color: #000;

    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-align-left {
    text-align: end;
}

/*----------------------------------TITLE------------------------------------*/

/*----------------------------------HEADER------------------------------------*/
header {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 110px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: #c084fc;
}

.btn-login {
    background: #3E3CC9;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo_img-ktits {
    width: 150px;
}

.logo_img {
    width: 150px;

}

/*----------------------------------HEADER------------------------------------*/


/*----------------------------------SLIDER------------------------------------*/

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: black;
    background: white;
    padding: 0.5em 0.3em;
    cursor: pointer;
    z-index: 10;
    display: flex;
}

.arrow i {
    align-items: center;
    justify-content: center;
}

.arrow-left {
    left: 0;
    border-radius: 0 50% 50% 0;
}

.arrow-right {
    right: 0;
    border-radius: 50% 0 0 50%;

}


/*----------------------------------SLIDER------------------------------------*/


/*----------------------------------Directions------------------------------------*/


.container {
    display: flex;
    align-items: center;
    background: #f4ecfe;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1100px;
    margin: 20px auto;
}

.box {
    color: #f3f3f3;
    padding: 40px 30px;
    width: 1000px;
    position: relative;
}

.left-box {
    background: #8c2eff;
    -webkit-mask-image: url('../images/napr.svg');
    mask-image: url('../images/napr.svg');
    mask-size: cover;
    border-radius: 20px;
}

.right-box {
    padding-left: 50px;
    background: #1C64F2;
    -webkit-mask-image: url('../images/napr-r.svg');
    mask-image: url('../images/napr-r.svg');
    mask-size: cover;
    border-radius: 20px;
}


.box h1 {
    font-size: 28px;
    margin: 0 0 10px;
}

.box p {
    font-size: 32px;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

.right-text {
    padding: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
}

/*----------------------------------Directions------------------------------------*/


/*----------------------------------TEACHERS------------------------------------*/

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1E68F2;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    overflow: hidden;
}

.photo {
    background: white;
    border-radius: 6px;
    width: 310px;
    height: 350px;
    margin-bottom: 10px;
}

.photo img {
    width: 310px;
    height: 350px;
}

.info {
    background: white;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}

.info .name {
    font-weight: 500;
}

.info .role {
    font-size: 12px;
    color: #444;
    margin-top: 4px;
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

.card__container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;

}

.arrow-teachers {
    background: #1C64F2;
    color: white;
}

.swiper-pagination {
    bottom: -100px;
}

/*----------------------------------TEACHERS------------------------------------*/


/*----------------------------------Reviews------------------------------------*/
.swiper {
    width: 100%;
}

.swiper-slide-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper-review {

}

.reviews-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-card {
    border: 1px solid #1E68F2;
    border-radius: 10px;
    color: #222;
    background: #fff;
    font-size: 14px;
    height: auto;
    transition: all 0.3s ease;
    text-align: left;
    padding: 120px 60px;
}


.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px;
}


/*----------------------------------Reviews------------------------------------*/


/*----------------------------------FOOTER------------------------------------*/
.footer {
    width: 90%;
    padding: 2rem 80px 100px 80px;
    color: white;
    margin: 120px auto auto;
    border-radius: 45px 45px 0 0;
    background: #9332FE;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.footer h2 {
    margin-top: 90px;
    color: #FFF;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%;
    letter-spacing: -8.404px;
}

.footer p {
    color: #FFF;
    margin-top: 30px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
}

.footer form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.footer input {
    width: 560px;
    padding: 12px 24px  ;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: none;
    font-size: 20px;
}

.footer input::placeholder{
    color: rgba(255, 255, 255, 0.42);
    font-size: 20px;
    font-style: normal;
}

.footer textarea{
    width: 564px;
    height: 208px;
    padding: 20px 24px 12px 24px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: none;
    font-size: 20px;
}
.footer textarea::placeholder{
     color: rgba(255, 255, 255, 0.42);
     font-size: 20px;
     font-style: normal;
 }


.footer button {
    display: inline-block;
    background: white;
    border: none;
    padding: 5px 30px;
    border-radius: 8px;
    cursor: pointer;

    color: #B54DF3;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
}
/*----------------------------------FOOTER------------------------------------*/



@media (max-width: 600px) {
    .teachers, .reviews {
        flex-direction: column;
        align-items: center;
    }
}


